.imageClass {
    /* position: absolute; */
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: calc(100vh - 496px);
    height: calc(100vh - 500px);
}

.musicTitle {
    text-align: center;
    color: white;
}

.gaming {
    color: white;
    text-align: center;
    font-size: x-large;
}

.downloadBtn {
    text-align: center;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 30px;
    margin-bottom: 10vh;
}

.downloadBtn:hover {
    cursor: pointer;
}

.imgDiv {
    text-align: center;
}

.radioDiv {
    text-align: right;   
}

.appContainer {
    position: relative;
}

.container {
    height: 200px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 42%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
