.App {
  text-align: center;
}

.login {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 10% 10%;
  grid-template-areas: "top"
                       "sidebar"
                       "bottom"
}

.imagelinkform{
  grid-area: top;
}

.header{
  grid-area: top;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.center {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
